.card-game {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
}


.card-game img {
    width: 5.5rem;
    height: 5.5rem;
}

.card-game img:hover {
    cursor: pointer;

}


@media only screen and (min-width:412px) {
    .card-game img {
        width: 6.5rem;
        height: 6.5rem;
    }
}