.card-game {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--width-default);
    height: var(--height-default);
    border-radius: 10px;
}


.card-game img {
    width: var(--width-images);
    height: var(--height-images);
    border-radius: 15px;
}

