.card-game {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: auto;
}


.card-game img {
    width: auto;
    height: 40px;
}


@media only screen and (min-width:412px) {
    .card-game img {
        width: auto;
        height: 42px;
    }
}
