.timerContainer {
    width: 80px;
    height: 40px;
    border-radius: 10px;
    background-color: #45056c;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 4px 5px #000;
}

.timer {
    color: var(--color-amarelo);
    font-size: 2rem;
    font-family: 'Bungee Spice', cursive;
}