:root {
    --width-default: 80px;
    --height-default: 110px;
    --width-images: auto;
    --height-images: 90px;
}


html,
body {
    font-size: 10px;
    height: 100%;
}

body {
    background-color: darkgray;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Press Start 2P', cursive;
}