@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


html,
body {
    font-size: 10px;
    height: 100%;
    
}

body {
    background-image:url('/public/images/background-horizontal.png');
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (min-width:412px) {
    body {
        background-image:url('/public/images/background.png');
        background-size: auto;
        background-repeat: no-repeat;
        max-width: 402px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (min-width:1080px) {
    body {
        background-image:url('/public/images/background-horizontal.png');
        background-size: auto;
        background-repeat: no-repeat;
    }
}
