.arrow-down {
    width: 25px;
    position: absolute;
    top: 90px;
    transform: translateX(-42px);
    transition: 200ms ease-in-out;
}

.arrow-down[data-currentPlayer="2"] {
    transform: translateX(42px);
}