.arrow-down {
    width: 25px;
    position: absolute;
    top: 50px;
    transform: translateX(-44px);
    transition: 200ms ease-in-out;
}

.arrow-down[data-currentPlayer="2"] {
    transform: translateX(44px);
}