.arrow-down {
    width: 25px;
    position: absolute;
    top: 60px;
    transform: translateX(-40px);
    transition: 200ms ease-in-out;
}

.arrow-down[data-currentPlayer="2"] {
    transform: translateX(40px);
}