.board-game {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 15px;
    perspective: 400px;
    background-color: #7c03dc;
    border-radius: 10px;
    box-shadow: 2px 2px 4px #000;
    padding: 8px
}