.header {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 10px;
    height: 8vh;
}

.header h1 {
    font-family: 'Bungee Spice', cursive;
    font-size: 3.3em;
    font-weight: 600;
}