
.card-front-back {
    width: var(--width-default);
    height: var(--height-default);
    position: relative;
    transform-style: preserve-3d;
    transition: 0.6s cubic-bezier(0.40, 0, 0.55, 1.70);
    cursor: pointer;
}


.card-front-back.-active {
    transform: rotateY(180deg)
}

.card-front-back>.card {
    position: absolute;
    backface-visibility: hidden;
}

.card-front-back>.card.-back {
    transform: rotateY(180deg)
}

